pandas==1.0.4
tensorflow==2.2.0
opencv-python==4.2.0.34
matplotlib==3.2.1
numpy==1.16.0
scikit-image==0.17.2
matplotlib==3.2.1
Cython==0.29.19
wandb==0.9.0
progressbar2==3.51.3
torch==1.5.0+cu101
torchvision==0.6.0+cu101
-f https://download.pytorch.org/whl/torch_stable.html